* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_1447 {
  width: 100%;
  height: 10748px;
  background: rgba(240,236,231,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v37_36 {
  width: 100%;
  height: 403px;
  background: url("../images/v37_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10345px;
  left: 12px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v16_70 {
  width: 588px;
  height: 166px;
  background: url("../images/v16_70.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 10119px;
  left: 60px;
  overflow: hidden;
}
.v16_66 {
  width: 588px;
  height: 34px;
  background: url("../images/v16_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_67 {
  width: 42px;
  color: rgba(20,20,20,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Michroma;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v16_68 {
  width: 13px;
  color: rgba(20,20,20,1);
  position: absolute;
  top: 0px;
  left: 62px;
  font-family: Michroma;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v16_69 {
  width: 493px;
  color: rgba(255,126,0,1);
  position: absolute;
  top: 0px;
  left: 95px;
  font-family: Michroma;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v16_62 {
  width: 588px;
  height: 34px;
  background: url("../images/v16_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 0px;
  overflow: hidden;
}
.v16_63 {
  width: 60px;
  color: rgba(20,20,20,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Michroma;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v16_64 {
  width: 13px;
  color: rgba(20,20,20,1);
  position: absolute;
  top: 0px;
  left: 80px;
  font-family: Michroma;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v16_65 {
  width: 475px;
  color: rgba(255,126,0,1);
  position: absolute;
  top: 0px;
  left: 113px;
  font-family: Michroma;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v16_60 {
  width: 588px;
  height: 34px;
  background: url("../images/v16_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 0px;
  overflow: hidden;
}
.v16_59 {
  width: 81px;
  color: rgba(20,20,20,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Michroma;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v16_61 {
  width: 13px;
  color: rgba(20,20,20,1);
  position: absolute;
  top: 0px;
  left: 101px;
  font-family: Michroma;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v16_57 {
  width: 454px;
  color: rgba(255,126,0,1);
  position: absolute;
  top: 0px;
  left: 134px;
  font-family: Michroma;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v16_71 {
  width: 588px;
  height: 34px;
  background: url("../images/v16_71.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 0px;
  overflow: hidden;
}
.v16_72 {
  width: 96px;
  color: rgba(20,20,20,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Michroma;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v16_73 {
  width: 13px;
  color: rgba(20,20,20,1);
  position: absolute;
  top: 0px;
  left: 116px;
  font-family: Michroma;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v16_74 {
  width: 439px;
  color: rgba(255,126,0,1);
  position: absolute;
  top: 0px;
  left: 149px;
  font-family: Michroma;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v37_35 {
  width: 244px;
  height: 92px;
  background: url("../images/v37_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9967px;
  left: 838px;
  overflow: hidden;
}
.v37_34 {
  width: 100%;
  height: 100%;
  background: url("../images/v37_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7653px;
  left: 93px;
  overflow: hidden;
}
.v37_59 {
  width: 100%;
  height: 100%;
  background: url("../images/v37_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5686px;
  left: 8px;
  overflow: hidden;
}
.v37_58 {
  width: 100%;
  height: 100%;
  background: url("../images/v37_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4145px;
  left: 80px;
  overflow: hidden;
}
.v37_57 {
  width: 100%;
  height: 100%;
  background: url("../images/v37_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1906px;
  left: 52px;
  overflow: hidden;
}
.v37_21 {
  width: 100%;
  height: 418px;
  background: url("../images/v37_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1549px;
  left: 392px;
  overflow: hidden;
}
.v37_24 {
  width: 100%;
  height: 312px;
  background: url("../images/v37_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1117px;
  left: 219px;
  overflow: hidden;
}
.v7_27 {
  width: 910px;
  height: 209px;
  background: url("../images/v7_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 788px;
  left: 505px;
  overflow: hidden;
}
.v7_9 {
  width: 910px;
  color: rgba(255,126,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Michroma;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v7_25 {
  width: 910px;
  height: 133px;
  background: url("../images/v7_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 0px;
  overflow: hidden;
}
.v7_8 {
  width: 910px;
  color: url("../images/v7_8.png");
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Varela;
  font-weight: Regular;
  opacity: 1;
  text-align: center;
}
.v7_23 {
  width: 910px;
  color: rgba(20,20,20,1);
  position: absolute;
  top: 66px;
  left: 0px;
  font-family: Varela;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v7_21 {
  width: 910px;
  color: url("../images/v7_21.png");
  position: absolute;
  top: 102px;
  left: 0px;
  font-family: Varela;
  font-weight: Regular;
  opacity: 1;
  text-align: center;
}
.v37_22 {
  width: 100%;
  height: 446px;
  background: url("../images/v37_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 222px;
  left: 2px;
  overflow: hidden;
}
.v37_52 {
  width: 100%;
  height: 118px;
  background: url("../images/v37_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1462 {
  width: 347px;
  height: 62px;
  background: url("../images/v1_1462.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 60px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 1513px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
